---

---

<section class="h-screen flex items-center justify-center">
    <h2 class="flex flex-col gap-4 items-center">
        <div
            class="gradient-text text-center font-extrabold tracking-tighter text-8xl pb-5"
        >
            El Enigma del
            <br /> Cifrado
            <br /> Seguro
        </div>
        <button
            class="text-white bg-violet-900 rounded-md w-auto px-5 py-2 text-5xl shadow-md shadow-violet-500"
        >
            Start
        </button>
    </h2>
</section>
